.currencyBox {
    height: 59px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 9px;
    background-color: #edf1f2;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 6px;
}

.currencyBox:focus-within {
    background-color: #e1e5e6;
}

.currencyBoxFocus {
    height: 59px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 9px;
    background-color: #e1e5e6;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 6px;
}

.currencyWrapper {
    padding-left: 13px;
    padding-top: 7px;
    text-align: left;
}

.currency {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02px;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
}

.downArrow {
    display: inline-block;
    vertical-align: middle;
    padding-left: 1px;
}

.balance {
    text-align: left;
    padding-left: 13px;
    font-size: 12px;
    line-height: 10px;
    color: grey;
}

.accountBox {
    width: 50%;
    display: inline-block;
    text-align: right;
    height: 100%;
    vertical-align: middle;
}

.amountInput {
    width: 50%;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

input {
    background-color: rgba(0,0,0,0);
    caret-color: blue;
    text-align: right;
    height: 100%;
    vertical-align: middle;
    border: none;
    padding-right: 15px;
  }
  
input:focus {
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    text-align: right;
}

input::placeholder {
    opacity: 0.5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}